	
body {
        overflow: hidden; 
        background: #24529F
}

input {
        position: absolute; 
        display: none
}

* {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.menu {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
}

.btn {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        position: absolute;
        overflow: hidden;
        cursor: pointer;
}

.material-icons.md-48 { 
        font-size: 48px; 
        color: #12539F;
}

.btn {
        background: #FBFCFD;
        font-size: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn:not(:first-child) {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        z-index: -2;  
        -webkit-transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
        transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}

.btn:nth-child(2) {top:0px;-webkit-transition-delay: 0s;transition-delay: 0s}
.btn:nth-child(3) {top:0px;left:0px;-webkit-transition-delay: 0.1s;transition-delay: 0.1s}
.btn:nth-child(4) {left:0px;;-webkit-transition-delay: 0.2s;;transition-delay: 0.2s}
.btn:nth-child(5) {top:0px;left:0px;-webkit-transition-delay: 0.3s;transition-delay: 0.3s}
.btn:nth-child(6) {top:0px;-webkit-transition-delay: 0.4s;transition-delay: 0.4s}

input#toggle:checked ~ #show-menu .btn:nth-child(2) {
  top:-150px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(3) {
  top:-46px;left:142px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(4) {
  top:121px;left:88px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(5) {
  top:121px;left:-88px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(6) {
  top:-46px;left:-142px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuBtn, .closeBtn {
        position: absolute;
        transition: all 0.3s ease;
}

.closeBtn {
        transform: translateY(50px);
        opacity: 0;
}

input#toggle:checked ~ #show-menu .btn .menuBtn {
        transform: translateY(-50px);
        opacity: 0;
}

input#toggle:checked ~ #show-menu .btn .closeBtn {
        transform: translateY(0px);
        opacity: 1;
}

.logo {
        margin-top: 40px;
}
