/*main{
        margin: 0 auto;
        width: 595px;
        height: 842px;
        border: 2px lime solid;
}
.gobcantabria{
        text-align: left;
}
.titulo{
        text-align: center;
        padding-left: 60px;
        padding-right: 60px;
}
.logo{
        text-align: right;
        margin-bottom: 20px;
}
.expedientefoto{
        text-align: center;
        padding-left: 20px;
        padding-top: 10px;
}
.expediente{
        border: 1px solid black;
        height: 20px;
        width: 100px;
        margin-bottom: 16px;
        text-align: center;
        font-size: 0.9em;
}
.foto{
        border: 1px solid black;
        height: 90px;
        width: 100px;
        text-align: center;
        font-size: 0.9em;
}


.sinborde{
        border: 0px;
        text-align: center;
        margin: 0px;
        width: 100px;
}
.check{
        width: 12px;
        margin-left: 6px;
        margin-right: 10px;
}
.repite{
        padding: 2px 0px;
}
.numeros{
        font-weight: bold;
}
*/
.fecha{
        font-weight: bold;
}

td{
    /*border: 1;*/
}
.datos_alumno{
    font-size:45px;
}
.doc1{
    text-align: justify;
}
.sinborde{
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}
