

h3{
    padding-bottom: 150px;
    font-size: 40px;
    font-weight: bold;  
}

td.titulo{
    width:250px;
    line-height: 2;
    /*border:1px solid black;*/
}
td.formulario{
    line-height: 3;
}
img{
    padding-bottom: 15px;
}

input{
    
    font-size: 50px;
}
 p{
    font-size:45px;
}
span{
    font-size:25px;
}
td.formulario span.numeros input{
    margin-left:120px;
}
td{
    height: 50px;
}
